<%- @items.each do |item| -%>
<span class="database"><%= check_box_tag "database_#{item.id}", item.id, true, name: 'item[extra_values][db_ids][]' -%> <%= label_tag "database_#{item.id}", item.title -%></span>
<%- end -%>
